/* init
* {
    font-family: 'Roboto', sans-serif;
}
*/
body {
    padding-top: 70px;
}
/* fix padding under menu after resize */
@media screen and (max-width: 767px) {
    body { padding-top: 70px; }
}
@media screen and (min-width:768px) and (max-width: 991px) {
    body { padding-top: 120px; }
}
@media screen and (min-width: 992px) {
    body { padding-top: 70px; }
}

h1 {
    font-family: 'Playfair Display', serif !important;
}

.h1Index {
    font-size: 3.4rem;
}


.hero .text {
    padding-top: 5rem;
}

.logIn{
    margin-top: 25%;
}

/* features */
.features h1, .sign-up h1, .documentation h1, .about-us h1{
    font-weight: 600;
    font-size: 2rem
}


/*************/
.signUp, .signUp:hover, .signUp:focus, .signUp:active {
    text-decoration: none;
    color: inherit;
}
/* navbar */
.navbar{
    padding-left: 1%;
    padding-right: 1%;
}

/*SignUp*/
.errorMsg{
    color: red;
}

.is-invalid {
    border-color: #f0ad4e;
}
/*footer*/
.iconContact{
    color:red;
}

.iconFooter{

    font-size: 150%;
    margin-right: 1%;
    margin-left: 1%;
    color: red;

}
/*****/


.logo {
    color: #f4511e;
    font-size: 200px;
}
.container-fluid {
    padding: 60px 50px;
}
glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}

